<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body ng-app="flashCards">
        <div ng-controller="StatsController" id="statistics">
            <div id="scoreboard">
                <h3>Correct: <span>{{ scores.correct }}</span></h3>
                <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
            </div>
        </div>
        

        <div ng-controller="MainController">
            <div ng-hide="loaded"><loader></loader> </div>
            <div ng-repeat="cat in categories">
            <button class="category-button" ng-click="getCategoryCards(cat)" ng-class="{active: cat === category}" >{{cat}}</button>
            </div>
            <button class="category-button" ng-click="getCategoryCards()">Reset</button>
            <div ng-repeat="flashCard in flashCards | orderBy : 'question'"
                class="flash-card" border-on-hover >
                     <flash-card-directive card="flashCard"></flash-card>
             </div>
           
    	   <!-- <div
    		  ng-repeat="flashCard in flashCards | orderBy : 'question'"
        		class="flash-card">
                <h3> {{flashCard.category}} </h3>
        	    <h1>{{ flashCard.question | uppercase }}</h1>
        	    <ul class="flash-card-answers">
        	    	<li
        	    		ng-repeat="answer in flashCard.answers"
        	    		class="flash-card-answer"
        	    		ng-click="answerQuestion(answer, flashCard)">{{ answer.text }}</li>
        	    </ul>
        	    <h2
        	    	class="answer-feedback"
        	    	ng-class="flashCard.answeredCorrectly ? 'correct' : 'incorrect'"
        	    	ng-show="flashCard.answered">
        	        <span ng-show="flashCard.answeredCorrectly">Yeah, you got it right!</span>
        	        <span ng-show="!flashCard.answeredCorrectly">Nope, you got it wrong.</span>
        	    </h2>
    	   </div> -->
      </div>
    	<script src="lib/angular.js"></script>
    	<script src="js/app.js"></script>
    	<script src="controllers/main.controller.js"></script>
        <script src="controllers/StatsController.js"></script>
        <script src="factories/FlashCardsFactory.js"></script>
        <script src="factories/ScoreFactory.js"></script>
        <script src="js/directives/loader/loader.js"></script>
        <script src="js/directives/flashCard/flash-card.js"></script>
        <script src="js/directives/border.js"></script>

    </body>
</html>